<!DOCTYPE html>

<head>
    <title>Task Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="addTask_form_div">
        <form id="addTask_form" action="/addTask">
            <h1>Add task</h1>
            <input type="text" name="title" id="task_title_input" placeholder="Enter task title" required>
            <input type="text" name="description" id="task_description_input" placeholder="Enter task description" required>
            <input type="submit" class="bttns" value="Add">
        </form>
    </div>

</body>

</html>