<!DOCTYPE html>

<head>
    <title>Task Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="addUser_form_div">
        <form id="addUser_form" action="/addUser">
            <h1>Add User</h1>
            <input type="text" name="first_name" id="first_name_input" placeholder="Enter first name" required>
            <input type="text" name="last_name" id="last_name_input" placeholder="Enter last name" required>
            <input type="submit" class="bttns" value="Add">
        </form>
    </div>

</body>

</html>