<!DOCTYPE html>
<head>
    <title>Task Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a id="addTask_bttn" class="bttns" href="/addTaskForm">Add new Task</a>
    <a id="AddUser_bttn" class="bttns" href="/addUserForm">Add new user</a>
    <a id="ShowTasks_bttn" class="bttns" href="/showTasks">Show tasks</a>
    <a id="ShowUsers_bttn "class="bttns" href="/showUsers">Show users</a>
</body>
</html>